<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>REALME X7</title>
  </head>
  <body>
     <div class="container">
           <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Dachro Technology</a>
          <div class = "navbar-nav">
            <a href = "index.html">home</a>
            <a href = "aboutus.html">About</a>
            <a href = "contactus.html">Contact Us</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Modern</span> Technology Blog
          </h1>
          <p>everything that you want to know about the modern Technology & Tech Products</p>
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- about -->
      <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "https://static.businessworld.in/article/article_extra_large_image/1612438217_cRz3B6_Realme_X7.jpg" alt = "image">
              <img src = "https://images.indianexpress.com/2021/02/realmex7series.jpg" alt = "image">
              <img src = "https://bsmedia.business-standard.com/media-handler.php?mediaPath=https://bsmedia.business-standard.com/_media/bs/img/article/2021-02/04/full/1612423808-1379.jpg&width=1200" alt = "image">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>REALME X7</h2>
                <p>SMARTPHONE</p>
              </div>
              <h3>Realme X7 5G design</h3>
              <p>
No one can say that Realme has played it safe with the X7 series, but whether that's a good thing or a bad thing will be a matter of personal taste and a very subjective call. The signature ‘Nebula' finish is a swirl of multiple colours – peach, pink, blue, purple, gold, and yellow, which all sort of blend into each other and seem to change as you move this phone around under the light. If this looks familiar, you might have seen news of the Realme V15 launching internationally – this is essentially the same phone with a different name.

Realme calls this a “non-spectral gradient” which means that the colours aren't exactly following a VIBGYOR sequence. The finish is meant to refract light through multiple stages, and it does have a very shimmery, iridescent quality to it. On the downside, the rear surface is incredibly glossy and prone to smudges. There's no way to use this phone without it getting completely covered in fingerprints.

The big polarising issue will be Realme's decision to emblazon its “Dare to leap” slogan across the entire rear, that too in a contrasting finish that really catches the light. It's not something I'd want to live with every day, but an opaque cover would defeat the purpose of choosing the Nebula finish. I think a lot of people will go with the much less flashy Space Silver option which, according to Realme, will not have this slogan across the back.
              The Realme X7 5G is fairly compact by today's standards. The Nebula version is 8.3mm thick and weighs 179g while Space Silver shaves that down to 8.1mm and 176g. The back and the frame are made of polycarbonate, and the front is an unspecified kind of glass with a protective film pre-applied. Realme also says this phone is splash-resistant, but there's no IP rating. This is an easy phone to use one-handed; the 6.4-inch screen has narrow borders except for the chin at the bottom, and the rear is rounded to meet the sides.

Realme has placed the power button on the right and the volume buttons on the left. There's an in-display fingerprint reader, plus the front camera is embedded in the upper left corner of the screen. On the bottom, you'll see a USB Type-C port, single speaker, and dual-Nano SIM tray (with no space for a microSD card). The three cameras on the rear are extruded individually, which is more or less the current style.

Interestingly, Realme has gone with more elaborate packaging than usual, and there are some neat extras in the box. In addition to the X7 5G itself, Realme includes a 65W charger (more on this later), USB Type-C cable, clear plastic case, a SIM eject pin, and a Type-C to 3.5mm dongle.</p>

              <h3>Realme X7 5G specifications and software</h3>
<p>A little under a year after launching its first high-end 5G-enabled phone, the X50 Pro 5G (Review), the new X7 5G and X7 Pro 5G aim to make this new standard more common. There are no 5G networks in India (yet) but this is becoming somewhat of a must-have feature anyway. Realme promises dual-sim, dual-standby plus support for all major bands, though it remains to be seen which ones operators in India will use. 5G is enabled by the MediaTek Dimensity 800U SoC which is quite new and likely to become popular.

The Dimensity 800U is a 7nm octa-core processor with two high-power ARM Cortex-A76 cores clocked at up to 2.4GHz, plus six efficient Cortex-A55 cores clocked at up to 2GHz. It also features an integrated Mali-G57 MC3 GPU, Wi-Fi 5, Bluetooth 5.1, and multiple satellite navigation systems.

Realme has gone with a 6.4-inch full-HD+ 1080x2400-pixel Super AMOLED panel. Immediately, we notice that a high refresh rate isn't mentioned on the spec sheet, which is a bit surprising considering the price and positioning of this phone. However, Realme does list a 180Hz touch sampling rate. You can choose between variants with 6GB and 8GB of RAM, but both have 128GB of UFS 2.1 storage and there's no microSD slot for expansion.

The battery capacity is 4,310mAh which is lower than average these days, but that's the tradeoff for the low weight of the X7 5G. This phone supports 50W fast charging but comes with a 65W adapter which is great to see – it's quite the opposite of what many other companies do. This means you can charge even higher-end phones such as the Realme X7 Pro 5G₹ 29,999 quickly with the same charger, but Realme's “SuperDart” tech doesn't appear to be compatible with the industry-standard USB Power Delivery so you can't for instance use the same charger with your laptop and carry one less thing around.

The Realme X7 5G ships with Android 10 and Realme UI 1.0, but the company promises updates to Android 11 and a “more minimalist” Realme UI 2.0 in the very near future. If these have been released by the time you buy this phone, your experience will be different, but I'm going to review what the company has sent at launch time and rate this phone accordingly. My unit had the December 2020 Android security patch which is relatively recent.

The UI looks much like stock Android but there are added features and customisations such as App Cloner for running multiple accounts, optional navigation gestures, and Smart Sidebar for shortcuts to apps and tools. There's a category of “experimental” features in the Settings app, which as of now include smooth scrolling (though how this is achieved isn't clear), Super Nighttime Standby which reduces network activity to save power, and DC Dimming which can reduce flickering to ease eye strain, but might have unexpected side effects such as colour shifting and auto brightness not working.

Realme has added a bit of bloatware including its own Music and Video apps, a Theme store, HeyFun game store, SoLoop video editor, Amazon, Facebook, and Flipkart. There are also Realme's own Community, Store, Paysa and Link apps. Most aren't too intrusive and many can be uninstalled but you'll still get a lot of unnecessary notifications. You'll also see some advertising in built-in apps, and on the lock screen via the “Magazine” feature, though this can be disabled in the Settings app.</p>


              <h3>Realme X7 5G performance</h3>
<p>With even budget phones performing smoothly these days, it's no surprise that the Realme X7 5G was smooth and responsive in everyday tasks. The setup process was simple enough but there are several defaults you'll want to change manually later, such as advertising preferences. The X7 5G is pleasant and comfortable enough to use without any hassles. It did get slightly warm when charging rapidly, but that was about it for heating. The in-display fingerprint sensor and face recognition were usually quick but there was some hesitation sometimes.

As the first phone in India with a Dimensity 800U SoC, benchmark scores should be interesting. The X7 5G managed 3,35,698 overall in AnTuTu, as well as 599 and 1,800 respectively in Geekbench 5's single-core and multi-core tests. It also ran GFXBench's Car Chase and Manhattan 3.1 graphics tests at 18fps and 31fps respectively, while 3DMark Sling Shot Extreme and Wild Life tests returned scores of 3,137 and 1,589.

These scores mean that the new X7 5G handily beats the Realme 7 Pro₹ 20,999 which still sells for exactly the same prices. The Dimensity 800U seems to be roughly on par with Qualcomm's Snapdragon 765G and 750G, trading blows in different tests.

As for games, I found both Call of Duty Mobile and Asphalt 9: Legends to be smooth. They ran at Medium and Default quality settings and were quite enjoyable. The screen is relatively crisp and colours are punchy, but this isn't the best quality I've seen at this price level. Widevine L1 DRM has been implemented so you can watch HD-quality streaming videos through your favourite services. There's a single speaker on the bottom and sound quality is pretty good by smartphone standards. This phone is Hi-Res Audio certified but you'll still get the best results with a good pair of earphones.

Battery life shouldn't be a problem at all. The Realme X7 5G can easily run for a over full day even if you throw a lot of heavy tasks at it, including gaming and using the cameras. Our HD video loop test ran for a very impressive 20 hours, 45 minutes. Charging is also pretty quick – it took only 25 minutes to get from zero to 50 percent, and a full charge took 1 hour, 3 minutes using the bundled “SuperDart” charger.</p>

              <h3>Realme X7 5G cameras</h3>
              
              <p>
nterestingly, Realme seems to have bucked the pressure to have “quad cameras” as a selling point for this phone. I'm happy with that, since a low-grade fourth camera, such as the 2-megapixel “B&W portrait” filter one on the Realme X7 Pro 5G, would be of very limited use anyway. Even the 2-megapixel macro camera that the Realme X7 5G has is largely for entertainment and doesn't capture good enough results to be used for serious photography. You'll spend most of your time with the 64-megapixel, f/1.8 primary and the 8-megapixel f/2.3 ultra-wide-angle cameras.

Realme's software is fairly easy to use and common modes are accessible, resolution settings, which you might need often, are at the bottom of the main menu and one layer deep. In the daytime, the Realme X7 5G was generally quick to lock focus and seemed to do well with metering exposures, at least at its default 16-megapixel binned resolution. There were some signs of oversharpening in post-processing, and details at a distance were a little too murky for my liking. On the other hand, close-ups came out well with vivid colours.
</p>
            </div>
          </div>
        </div>
      </section>
      <!-- end of about -->
  
      <!-- footer -->
      <footer>
        <div class = "social-links">
          <a href = "https://www.facebook.com/Dachro-Health-Mind-114226894041562"><i class = "fab fa-facebook-f"><div><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-instagram"><div><img src="https://i.pinimg.com/originals/8a/77/05/8a770507298d728a1e3e039a0507dd8e.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-linkdin"><div><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-pinterest"><div><img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt=""></div></i></a>
        </div>
        <span>Dachro Manifestation blog page</span>
      </footer>







           
          
            





     </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>
