<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>REALME X3</title>
  </head>
  <body>
     <div class="container">
           <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Dachro Technology</a>
          <div class = "navbar-nav">
            <a href = "index.html">home</a>
            <a href = "aboutus.html">About</a>
            <a href = "contactus.html">Contact Us</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Modern</span> Technology Blog
          </h1>
          <p>everything that you want to know about the modern Technology & Tech Products</p>
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- about -->
      <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.mashable.com%2Frealme-x3-superzoom%2F15315%2Frealme-x3-superzoom-review-realme-delivered-the-poco-f2-we-were-screaming-for&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAD" alt = "image">
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Findianexpress.com%2Farticle%2Ftechnology%2Fmobile-tabs%2Frealme-x3-superzoom-realme-buds-q-launch-price-specifications-india-price-6475373%2F&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAP" alt = "image">
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.theunbiasedblog.com%2F2020%2F06%2Frealme-x3-and-realme-x3-superzoom-launched.html&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAc" alt = "image">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>REALME X3</h2>
                <p>SMARTPHONE</p>
              </div>
              <h3>flagship performance with a midrange price
</h3>
              <p>a muscular monster yet affordable device comes with last year's flagship snapdragon 855 plus assembled with up to 8 GB ram and256 GB of UFS 3.0 storage.

and 64 mp Samsung GW1 sensor along with an 8 mp 119-degree ultrawide lens and a 12 mp proper optical telephoto and a typical 2 mp macro lens. at the front, we have.

a 16 mp wide and 8 mp ultrawide selfie sensor.in terms of display, we have a 6.67 inch 120 Hz IPS LCD panel with a peak brightness of 480 nits.

it also has a 4200 mAh battery with 30 watts of DART charging.

</p>


              <h3>Realme X3 Experience</h3>
                        <h4>Cons</h4>
<p>With even budget phones performing smoothly these days, it's no surprise that the Realme X7 5G was smooth and responsive in everyday tasks. The setup process was simple enough but there are several defaults you'll want to change manually later, such as advertising preferences. The X7 5G is pleasant and comfortable enough to use without any hassles. It did get slightly warm when charging rapidly, but that was about it for heating. The in-display fingerprint sensor and face recognition were usually quick but there was some hesitation sometimes.

As the first phone in India with a Dimensity 800U SoC, benchmark scores should be interesting. The X7 5G managed 3,35,698 overall in AnTuTu, as well as 599 and 1,800 respectively in Geekbench 5's single-core and multi-core tests. It also ran GFXBench's Car Chase and Manhattan 3.1 graphics tests at 18fps and 31fps respectively, while 3DMark Sling Shot Extreme and Wild Life tests returned scores of 3,137 and 1,589.

These scores mean that the new X7 5G handily beats the Realme 7 Pro₹ 20,999 which still sells for exactly the same prices. The Dimensity 800U seems to be roughly on par with Qualcomm's Snapdragon 765G and 750G, trading blows in different tests.

As for games, I found both Call of Duty Mobile and Asphalt 9: Legends to be smooth. They ran at Medium and Default quality settings and were quite enjoyable. The screen is relatively crisp and colours are punchy, but this isn't the best quality I've seen at this price level. Widevine L1 DRM has been implemented so you can watch HD-quality streaming videos through your favourite services. There's a single speaker on the bottom and sound quality is pretty good by smartphone standards. This phone is Hi-Res Audio certified but you'll still get the best results with a good pair of earphones.

Battery life shouldn't be a problem at all. The Realme X7 5G can easily run for a over full day even if you throw a lot of heavy tasks at it, including gaming and using the cameras. Our HD video loop test ran for a very impressive 20 hours, 45 minutes. Charging is also pretty quick – it took only 25 minutes to get from zero to 50 percent, and a full charge took 1 hour, 3 minutes using the bundled “SuperDart” charger.</p>

              <h3>Realme X7 5G cameras</h3>
              
              <p>
nterestingly, Realme seems to have bucked the pressure to have “quad cameras” as a selling point for this phone. I'm happy with that, since a low-grade fourth camera, such as the 2-megapixel “B&W portrait” filter one on the Realme X7 Pro 5G, would be of very limited use anyway. Even the 2-megapixel macro camera that the Realme X7 5G has is largely for entertainment and doesn't capture good enough results to be used for serious photography. You'll spend most of your time with the 64-megapixel, f/1.8 primary and the 8-megapixel f/2.3 ultra-wide-angle cameras.

Realme's software is fairly easy to use and common modes are accessible, resolution settings, which you might need often, are at the bottom of the main menu and one layer deep. In the daytime, the Realme X7 5G was generally quick to lock focus and seemed to do well with metering exposures, at least at its default 16-megapixel binned resolution. There were some signs of oversharpening in post-processing, and details at a distance were a little too murky for my liking. On the other hand, close-ups came out well with vivid colours.
</p>
            </div>
            <div>
              <img src = "https://i9.ytimg.com/vi/Vgm21puC1fE/mqdefault.jpg?time=1617777000000&sqp=COiitYMG&rs=AOn4CLB86ENOYwCnUkIg-V-usizQ27OPaQ" alt = "image">
            <div class = "design-title">
                <a href = "https://youtu.be/Vgm21puC1fE">Watch Our YouTube Video here</a>
              </div>  
            </div>
          </div>
        </div>
      </section>
      <!-- end of about -->
  
      <!-- footer -->
      <footer>
        <div class = "social-links">
          <a href = "https://www.facebook.com/Dachro-Health-Mind-114226894041562"><i class = "fab fa-facebook-f"><div><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-instagram"><div><img src="https://i.pinimg.com/originals/8a/77/05/8a770507298d728a1e3e039a0507dd8e.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-linkdin"><div><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-pinterest"><div><img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt=""></div></i></a>
        </div>
        <span>Dachro Manifestation blog page</span>
      </footer>







           
          
            





     </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>
