<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>REALME X3</title>
  </head>
  <body>
     <div class="container">
           <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Dachro Technology</a>
          <div class = "navbar-nav">
            <a href = "index.html">home</a>
            <a href = "aboutus.html">About</a>
            <a href = "contactus.html">Contact Us</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Modern</span> Technology Blog
          </h1>
          <p>everything that you want to know about the modern Technology & Tech Products</p>
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- about -->
      <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.mashable.com%2Frealme-x3-superzoom%2F15315%2Frealme-x3-superzoom-review-realme-delivered-the-poco-f2-we-were-screaming-for&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAD" alt = "image">
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Findianexpress.com%2Farticle%2Ftechnology%2Fmobile-tabs%2Frealme-x3-superzoom-realme-buds-q-launch-price-specifications-india-price-6475373%2F&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAP" alt = "image">
              <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.theunbiasedblog.com%2F2020%2F06%2Frealme-x3-and-realme-x3-superzoom-launched.html&psig=AOvVaw2fKQAKPw-a_yLtArdu6qva&ust=1617861726536000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiH4t-66-8CFQAAAAAdAAAAABAc" alt = "image">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>REALME X3</h2>
                <p>SMARTPHONE</p>
              </div>
              <h3>flagship performance with a midrange price
</h3>
              <p>a muscular monster yet affordable device comes with last year's flagship snapdragon 855 plus assembled with up to 8 GB ram and256 GB of UFS 3.0 storage.

and 64 mp Samsung GW1 sensor along with an 8 mp 119-degree ultrawide lens and a 12 mp proper optical telephoto and a typical 2 mp macro lens. at the front, we have.

a 16 mp wide and 8 mp ultrawide selfie sensor.in terms of display, we have a 6.67 inch 120 Hz IPS LCD panel with a peak brightness of 480 nits.

it also has a 4200 mAh battery with 30 watts of DART charging.

</p>


              <h3>Realme X3 Experience</h3>
                        <h4>Cons</h4>
                            <h5>Display</h5>      
<p>as a primary device, I have been using it since last year. It is also my daily driver. From my perspective, Display is pretty average. outdoor visibility is poor.

though it has a higher refresh rate display you can easily drain out your charge in just 6 hours. The LCD panel is pretty good in colour calibration and viewing angles are great.

and not even too much colour shift I faced. As today's standard realme should have gone with a lower refresh rate super AMOLED.</p>
                        <h5>Battery Life</h5>
              
              <p>
              after display, there is one thing which is making this phone worse user experienced model is a small capacity battery.
in today's standard, we can see below fifteenth thousand rupee phones with a 5000 mAh battery.
 As it has a very powerful CPU and battery sucking huge high refresh rate LCD panel no positive response will add a point for battery.
 But one huge positive point will seriously add more youths to buy this mobile as it has a very fast charging solution. the whole phone can from zero to a hundred in just a shy under 1 hour.
 These two major drawbacks can seriously break the market of Realme x3 buyers. Other than that there are plenty of pros.</p>
              <h4>pros.</h4>
              <h5>Performance</h5>
              <p>the main attraction of this device is its record-breaking performance. the flagship snapdragon 8 series processor has a serious amount of power under the hood with Adeno 640 GPU it must be a gamers heaven. most AAA titles run pretty smooth. though it has a smaller battery it can run most games more than 4 and a half hours long. you can even play high refresh rate games here at ease. if I have a single word to describe it I would rather go for MONSTER.</p>
              <h5>the second point is the camera:</h3>
              <h6>First the main camera:</h6>
              <p>First the main camera:

it's a very capable camera as it has a Samsung sensor. It has an aperture of f/1.8 it can handle night photos pretty well.it has EIS as it is on a tight budget. many other night modes such as starry mode, tripod mode, etc. are present here

it takes sharp and crisp photos.it can also do 64 mp full sensor RAW image. When comes to video it supports 4K up to 60 FPS But you can only go only 1080P with 60 fps on EIS. It also has max stabilization but it crops out the image too far. In a conclusion.

this sensor is pretty good both in photography and videography.</p>
              <h6>Second, on the list is the  Ultrawide:</h6>
               <p>it has an 8 mp ultrawide sensor with an aperture of f/2.3 and a view of 119 degrees.in daylight, it captures decent images. but at night image quality drops too far. this sensor only supports up to 1080p at 30 Fps. average video you can shoot with it this sensor in daylight.

it's a basic ultrawide sensor which company uses from 10000 rupee phone to 40000 rupee phone. I would say this is a decent sensor.</p>
                <h6>number three the  Telephoto:</h6>
                <p>a 12 mp telephoto sensor has been added to this quad-cam setup. this sensor can go up to 2x optical zoom 10x digital and 20x hybrid zoom as per Realme claims. I use it when taking portraits. photo taken up to 5x zoom can be useable.

it can support 4k at 60fps while shooting video. As it has an aperture of f/2.5 it performs pretty well in daylight but average at night. overall a great sensor.</p>
                <h6>number four is Macro:</h6>
                <p>just to fill the fourth space of this quad-cam setup Realme had added a 2-megapixel camera that can go as close as 4 cm from the object. and with an aperture of f/2.4, it performs average in daylight.

quite frankly, most people don't even use it. some of you can certainly find fun clicking photos.</p>
                 <h5>number three from our Pros list is  Build Quality.</h5>
                 <p>With a weight of around 200 grams, it is on the heavier side.

Though its heaviness it's pretty comfortable to hold in hand as it has a better weight distribution. this has a glass and plastic sandwich design where the entire frame is built with plastic as it is cheap. but it has corning's gorilla glass five protection in front and back. mine is pearl white so it has.

that mat finish feels nice in hand and resists finger spots on the back. overall build quality feels premium.

those are the main pros of this device.</p>
                <h4>conclusion:</h4>
                <p>Finally, here comes my conclusion. there are many great options in this range below the 25k price point. if you have a strict budget of around 20k you may buy other Realme phones but if you want that serious performance at that price. I would rather say go for it.

otherwise, try to increase your budget to 25k and get Iqoo 3.</p>
            </div>
            <div>
              <img src = "https://i9.ytimg.com/vi/Vgm21puC1fE/mqdefault.jpg?time=1617777000000&sqp=COiitYMG&rs=AOn4CLB86ENOYwCnUkIg-V-usizQ27OPaQ" alt = "image">
            <div class = "design-title">
                <a href = "https://youtu.be/Vgm21puC1fE">Watch Our YouTube Video here</a>
              </div>  
            </div>
          </div>
        </div>
      </section>
      <!-- end of about -->
  
      <!-- footer -->
      <footer>
        <div class = "social-links">
          <a href = "https://www.facebook.com/Dachro-Health-Mind-114226894041562"><i class = "fab fa-facebook-f"><div><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-instagram"><div><img src="https://i.pinimg.com/originals/8a/77/05/8a770507298d728a1e3e039a0507dd8e.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-linkdin"><div><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-pinterest"><div><img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt=""></div></i></a>
        </div>
        <span>Dachro Manifestation blog page</span>
      </footer>







           
          
            





     </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>
